.toolbox {
  background-color: steelblue;
  border: 0.1rem solid slateblue;
  display: flex;
  width: 80.4rem;
  padding: 1.6rem;
  margin: 0;

  & > button {
    &:focus {
      outline: none;
    }
  }

  & > * {
    background-color: #fff;
    border: none;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    height: 5rem;
    width: 5rem;
    margin: 0.4rem;
    padding: 0.4rem;
    cursor: pointer;
  }

  & > *:last-child {
    margin-left: auto;
  }
}
